# ## Задача: Роль kubernetes_core
# - **Статус**: В процессе
# - **Описание**: Дефолтные параметры bootstrap Kubernetes.
kubernetes_install_mode: auto
kubeadm_config_path: /etc/kubernetes/kubeadm-config.yaml

kubernetes_packages:
  - kubelet
  - kubeadm
  - kubectl

kubernetes_packages_version_override: ""
kubernetes_repo_validate_before_install: true
kubernetes_repo_validate_retries: 4
kubernetes_repo_validate_delay: 15
kubernetes_package_install_retries: 4
kubernetes_package_install_delay: 20

kubernetes_repo_channel: "v{{ (kubernetes_version.split('.')[0:2] | join('.')) }}"
kubernetes_repo_baseurl: "https://pkgs.k8s.io/core:/stable:/{{ kubernetes_repo_channel }}/rpm/"
kubernetes_repo_gpgkey: "{{ kubernetes_repo_baseurl }}repodata/repomd.xml.key"

kubeadm_cri_socket: "unix:///run/containerd/containerd.sock"
kubernetes_admin_user: "{{ ansible_user | default('root') }}"
kubeadm_config_api_version: "kubeadm.k8s.io/v1beta3"
kubeadm_init_allow_experimental_api: false
kubeadm_init_verbose: false
kubeadm_init_verbosity: 5
kubeadm_init_endpoint_check_timeout: 5
kubeadm_init_endpoint_check_retries: 12
kubeadm_init_endpoint_check_delay: 5
