# ## Задача: Базовые переменные кластера
# - **Статус**: В процессе
# - **Описание**: Определить общие параметры Kubernetes и инфраструктуры.
cluster_name: redos-k8s
redos_release: "8.0.2"
management_cidr: "10.255.106.0/26"

kubernetes_version: "1.30.14"
kubeadm_config_api_version: "kubeadm.k8s.io/v1beta3"
kubeadm_init_allow_experimental_api: false
kubernetes_packages_version_override: ""
kubernetes_repo_validate_before_install: true
kubernetes_repo_validate_retries: 4
kubernetes_repo_validate_delay: 15
kubernetes_package_install_retries: 4
kubernetes_package_install_delay: 20
kubernetes_cni: calico
control_plane_endpoint: "10.255.106.20"
control_plane_endpoint_port: 8443
pod_subnet_cidr: "10.245.0.0/16"
service_subnet_cidr: "10.246.0.0/16"

http_proxy: "http://127.0.0.1:12334"
https_proxy: "http://127.0.0.1:12334"
proxy_enabled: true
no_proxy:
  - localhost
  - 127.0.0.1
  - 10.0.0.0/8
  - 10.255.106.20
  - 10.255.106.10
  - 10.255.106.11
  - 10.255.106.12
  - 10.255.106.0/26
  - 10.245.0.0/16
  - 10.246.0.0/16
  - .eleksir.net
  - .eleksir.finance
  - .cr.yandex

proxy_mode: local_on_each_node
registry_mode: external_via_proxy
rpm_mirror_mode: external_via_proxy
proxy_environment: "{{ {'HTTP_PROXY': http_proxy, 'HTTPS_PROXY': https_proxy, 'NO_PROXY': (no_proxy | join(','))} if (proxy_enabled | bool) else {} }}"
container_runtime_name: containerd
container_runtime_install_cri_tools: false
container_runtime_cri_tools_package: cri-tools
kubeadm_cri_socket: unix:///run/containerd/containerd.sock

dns_servers:
  - 10.255.85.13
  - 10.7.5.10
  - 1.1.1.1
  - 1.0.0.1
  - 8.8.8.8
  - 8.8.4.4

ntp_servers:
  - timeserver.ru

ansible_require_check_diff_support: true
ingress_controller: nginx
selinux_target_mode: Disabled
kubeadm_join_force_primary_endpoint: true
network_calico_backend: vxlan
network_calico_ipv4pool_ipip: Never
network_calico_ipv4pool_vxlan: Always
network_calico_cluster_type: "k8s"
metallb_webhook_failure_policy_workaround_enabled: false
metallb_webhook_delete_recreate_workaround_enabled: true
validation_enable_ingress_vip_check: true
validation_ingress_validation_mode: node_ip
validation_ingress_namespace: ingress-nginx
validation_ingress_service_name: ingress-nginx-controller
validation_ingress_expected_vip: "10.255.106.21"

deploy_prometheus_stack: true
prometheus_stack_release_name: kube-prometheus-stack
prometheus_stack_namespace: monitoring
prometheus_stack_chart_repo_name: prometheus-community
prometheus_stack_chart_repo_url: https://prometheus-community.github.io/helm-charts
prometheus_stack_chart_ref: prometheus-community/kube-prometheus-stack
prometheus_stack_chart_version: ""
prometheus_stack_wait_timeout: 900s
prometheus_stack_grafana_host: ""
prometheus_stack_prometheus_host: ""
prometheus_stack_alertmanager_host: ""

deploy_gitlab_runner: false
gitlab_runner_release_name: gitlab-runner
gitlab_runner_namespace: gitlab-runner
gitlab_runner_chart_repo_name: gitlab
gitlab_runner_chart_repo_url: https://charts.gitlab.io
gitlab_runner_chart_ref: gitlab/gitlab-runner
gitlab_runner_chart_version: ""
gitlab_runner_wait_timeout: 600s
gitlab_runner_gitlab_url: ""
gitlab_runner_registration_token: "{{ vault_gitlab_runner_registration_token | default('') }}"
gitlab_runner_runner_tags: "kubernetes,redos"
gitlab_runner_concurrent: 10

deploy_k8tz: true
k8tz_release_name: k8tz
k8tz_namespace: k8tz
k8tz_chart_repo_name: k8tz
k8tz_chart_repo_url: https://k8tz.github.io/k8tz/
k8tz_chart_ref: k8tz/k8tz
k8tz_chart_version: ""
k8tz_wait_timeout: 600s
k8tz_timezone: Europe/Moscow
