global_defs {
  router_id K8SAPI{{ control_plane_vip_host_index }}
}

vrrp_script chk_haproxy {
  script "{{ control_plane_vip_check_script_path }}"
  interval 2
  timeout 2
  rise 2
  fall 2
}

vrrp_instance VI_KUBE_API {
  state {{ control_plane_vip_state }}
  interface {{ control_plane_vip_interface_resolved }}
  virtual_router_id {{ control_plane_vip_virtual_router_id }}
  priority {{ control_plane_vip_priority }}
  advert_int 1

  authentication {
    auth_type PASS
    auth_pass {{ control_plane_vip_auth_pass }}
  }

{% if control_plane_vip_use_unicast | bool %}
  unicast_src_ip {{ ansible_host }}
  unicast_peer {
{% for peer_ip in control_plane_vip_peer_ips %}
    {{ peer_ip }}
{% endfor %}
  }
{% endif %}

  virtual_ipaddress {
    {{ control_plane_vip_address }}/{{ control_plane_vip_cidr_mask }}
  }

  track_script {
    chk_haproxy
  }
}
