apiVersion: {{ kubeadm_config_api_version }}
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: "{{ ansible_host }}"
  bindPort: 6443
nodeRegistration:
  criSocket: "{{ kubeadm_cri_socket }}"
  kubeletExtraArgs:
    node-ip: "{{ ansible_host }}"
---
apiVersion: {{ kubeadm_config_api_version }}
kind: ClusterConfiguration
kubernetesVersion: "v{{ kubernetes_version }}"
controlPlaneEndpoint: "{{ control_plane_endpoint }}:{{ control_plane_endpoint_port | default(6443) }}"
networking:
  podSubnet: "{{ pod_subnet_cidr }}"
  serviceSubnet: "{{ service_subnet_cidr }}"
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd
